<div *ngIf="!name; else forminfo">
  <form [formGroup] = "rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1> Cadastro </h1>
        
        <label>Nome
          <input type="text" formControlName="name">
        </label>
        
        <div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls ['name'].touched">{{ titleAlert }}
          </div>
        
        <label>CNPJ
          <input type="text" formControlName="cnpj">
        </label>
        
        <div class="alert" *ngIf="!rForm.controls['cnpj'].valid && rForm.controls ['cnpj'].touched">{{ titleAlert3 }}
          </div>
       

        <label>Descrição
          <textarea formControlName="description"></textarea>
        </label>

        <div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls ['description'].touched">{{ titleAlert2 }}
          </div>
  

        <label for="validate">Mínimo de 3 caracteres</label>
        <input type="checkbox" name="validate" formControlName="validate" value="1"> On

        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">

      </div>
    </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
      <h1>{{name}}</h1>

      <p>{{description}}</p>
    </div>
  </div>
</ng-template>